body {
  font-size: 56px;
  background: #3D5180;
  color: #fff;
  font-weight: 100; }

.hl {
  color: #910000;
  font-weight: 600; }

p, h3, h4, h5, h6 {
  padding-left: 2.5%;
  padding-right: 2.5%; }

h1, h2, h3, h4, h5, h6, h7, h8 {
  font-weight: 100; }

h1 {
  text-align: center; }

h2 {
  margin-top: 0.25em;
  text-align: center; }

section {
  display: none; }
  section.displayed {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; }

section:first-child {
  padding-top: 2.5%; }

ul {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: left; }

h2 {
  width: 75%;
  margin-left: auto;
  margin-right: auto; }

pre {
  font-size: 0.6em;
  text-align: left;
  margin: 5% 10%; }

.has-commentary {
  margin-bottom: 5%;
  margin-top: 5%;
  font-size: 0.8em; }

.code-commentary {
  margin-left: 10%;
  font-size: 0.8em;
  text-align: left; }

ul.code-commentary, ol.code-commentary {
  width: auto; }

hr {
  width: 40%;
  margin: 0 auto; }

.minor {
  font-size: 0.8em; }

li {
  margin-bottom: 0.25em; }

table {
  width: 90%;
  margin: 0 auto;
  font-size: 0.5em;
  font-weight: 100; }
  table td {
    padding-bottom: 0.5em;
    padding-left: 0.5em; }

pre {
  background: rgba(255, 255, 255, 0.5);
  padding: 0.5em; }

a {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #1DB4F1; }

.colour1 {
  color: crimson; }

.colour2 {
  color: darkorange; }

.colour3 {
  color: gold; }

.colour4 {
  color: greenyellow; }

.colour5 {
  color: mediumpurple; }

.colour6 {
  color: violet; }

.subtitle h2 {
  font-size: 3em;
  margin-top: 2em; }

.twitter {
  text-align: center; }
  .twitter a {
    color: #1db4f1; }

#join-demo  {
  font-size: 2rem;
  overflow: auto;
  padding: 2em;
}
#join-demo .context {
  height: 6em;
}
#join-demo .strip {
  padding: 4px;
  margin: 4px;
  background: rgba(255,255,255,0.4);
  height: 1.5em;
  max-width: 15em;
}
#join-demo .els, #join-demo #contexts {
  float: left;
  width: 50%;
}
#join-demo p {
  display: inline-block;
  background: #444;
  color: #444;
  border-radius: 2px;
  margin: 2px;
  width: 10px;
}

#venn text {
  fill: #fff;
}
