#comparisons {
  height: 900px;
  position: relative;
  font-size: 0.25em;
  overflow: auto; }

  #comparisons .ctrls {
    float: left;
    width: 38%;
    margin-left: 10%; }
    #comparisons .ctrls h2 {
        font-size: 3em; }
    #comparisons label {
      text-align: left;
      display: block;
      font-size: 2em;
      line-height: 2em;
      cursor: pointer; }
    #comparisons input {
      margin-right: 2em; }

  #comparisons .graphs {
    margin-left: 2em;
    float: left;
    width: 40%;
    height: 100%; }
  #comparisons .graph {
    float: left;
    margin-bottom: 1em; }
  #comparisons .bar { 
    padding: 0;
    height: 1.5em;
    line-height: 1.5em;
    padding-left: 1em;
    text-align: left; }

#venn {
  font-size: 0.5em;
}


  #comparisons .data-framework {
    -webkit-transition: all 0.5s;
    position: absolute; }
  #comparisons h2 {
    text-align: left;
    margin: 0 0 0.5em 0; }
  #comparisons .data-framework {
    overflow: auto; }

#histogram-1 path {
  fill: rgba(0,0,0,0.5);
}
